html{background-color:#ffc001}
body{background-image:url('https://img.alicdn.com/imgextra/i3/2296013456/TB2iGdUjt0opuFjSZFxXXaDNVXa_!!2296013456.png');background-repeat:no-repeat;background-position:top left;background-size:4.90625rem 1.5625rem;}
body,div,p,dl,dt,dd{padding:0;margin:0;box-sizing:border-box;}
img{display:block;width:100%;height:100%;}
#container{width:10rem;padding:.71875rem 0.875rem 1rem;margin-left:auto;margin-right:auto;color:#000;}
dl{line-height:1.6;}
dl dd{margin-bottom:0.875rem;}
.qrcode{width:5.15625rem;height:5.15625rem;margin:0.1875rem auto;}
p.tip{line-height:1.8;margin-top:0.0625rem;}
#mask{display:none;position:absolute;top:0;left:0;width:100%;height:100%;}

[data-dpr="1"] .fs12{font-size:12px;}
[data-dpr="1"] .fs14{font-size:14px;}
[data-dpr="1"] .fs16{font-size:16px;}

[data-dpr="2"] .fs12{font-size:24px;}
[data-dpr="2"] .fs14{font-size:28px;}
[data-dpr="2"] .fs16{font-size:32px;}

[data-dpr="3"] .fs12{font-size:36px;}
[data-dpr="3"] .fs14{font-size:42px;}
[data-dpr="3"] .fs16{font-size:48px;}
