html{background:#ffcddc url('https://img.alicdn.com/imgextra/i4/2296013456/TB2dzg4fgFkpuFjSspnXXb4qFXa_!!2296013456.jpg') no-repeat top;background-size:contain;}
body,div,p,dl,dt,dd,span{padding:0;margin:0;box-sizing:border-box;}
img{display:block;width:100%;}
#container{width:10rem;padding-top:8.375rem;padding-bottom:1rem;margin-left:auto;margin-right:auto;text-align:center;color:#4f0927;font-family:'PingFangSC-Light';}
.equation{display:inline-block;height:1.875rem;line-height:1.875rem;margin:0 auto;text-align:center;}
.equation span{float:left;margin-right:.5rem;font-weight:bold;}
.equation span:last-child{margin-right:0;font-weight:normal;}
.equation span img{width:1.21875rem;height:1.84375rem;}
/*抽奖区域*/
#turnplate{width:8.125rem;margin:0.71875rem auto 0;}
.inactive{display:none;}
.lottery-group{display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-flow: row nowrap;flex-flow: row;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.lottery-unit{width:1.21875rem;height:1.859375rem;}
.lottery-unit img:first-child{display:none;}
.lottery-unit img:last-child{display:block;}
.lottery-unit.active img:first-child{display:block;}
.lottery-unit.active img:last-child{display:none;}
.btnWrap{height:5.6875rem;}
#wrap1,#wrap2,#wrap3,#wrap4{display: none;}
.tipWrap{line-height:1.4;padding-top:0.4375rem;padding-bottom:0.4375rem;}
#wrap1 .tipWrap p{margin-top:0.375rem;margin-bottom:-0.1875rem;}
.pink{color:#f84a57;}
#fate{margin-top:0.28125rem;}
dl{width:10rem;padding-left:0.625rem;padding-right:0.625rem;text-align:left;}
dl dt{line-height:1;margin-bottom:0.3125rem;text-align:center;}
dl dd{line-height:1.8;}
dl dt.award-rule{margin-top:0.78125rem;margin-bottom:0.5rem;}
#flyObj{z-index:9999;display:none;position:absolute;width:1.21875rem;height:1.84375rem;-webkit-transform:translateZ(0);transform:translateZ(0);}
/*---------------------模态框------------------------*/
.modal{z-index:1001;display:none;position:fixed;top:40%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:7.8125rem;height:4.90625rem;border-radius:.125rem;text-align:center;background:transparent url('https://img.alicdn.com/imgextra/i1/2296013456/TB2E.95fG8lpuFjy0FpXXaGrpXa_!!2296013456.png') no-repeat;background-size:contain;word-break:break-all;}
.modal-header{padding-top:1rem;line-height:1;font-weight:bold}
.modal-body{padding-top:0.3125rem;padding-bottom:.5rem;line-height:1.6;}
.modal-footer .btn{display:inline-block;width:2.8125rem;height:1.125rem;line-height:1.125rem;border-radius:.5625rem;color:#fff}
.modal-footer .btn-pink{background-color:#f84a57}
.modal-footer .btn-gray{background-color:#9a9a9b}
#tipModal .btn-pink{width:4.6875rem;}
#resultModal .btn-gray{margin-right:0.5625rem;}
#backdrop {z-index:1000;display:none;position: fixed;top: 0;right: 0;bottom: 0;left: 0;background-color: #000;opacity: 0.5;}
/*----------------下载提示框----------------*/
/*外部浏览器*/
#downloadTip{z-index:1002;position:fixed;top:0;left:0;width:100%;padding:.25rem 0;color:#fff;background-color:#333;text-align:center;transition:all .3s ease-in-out;transform:translateY(-100%);-webkit-transform:translateY(-100%)}
#downloadTip .downloadBtn{width:5rem;height:1.125rem;line-height:1.125rem;margin:.25rem auto 0;background:#f53e7b;border-radius:.09375rem}
/*微信内*/
#downloadTipWx{top:2.21875rem;-webkit-transform:translateX(-50%);transform:translateX(-50%);width:8rem;height:auto;padding-bottom:1.25rem;background:#fff;color:#333;font-family:'PingFangSC-Light';}
#downloadTipWx .modal-header{line-height:1.8;font-weight:normal;}
#downloadTipWx .modal-body{padding-top:1rem;line-height:1;color:#666;}
#downloadTipWx .modal-body .divide{width:3.75rem;height:0.0625rem;margin:0 auto .3125rem;border:0.03125rem solid #ddd;}
#downloadTipWx .modal-body .icon{width:2.1875rem;height:2.1875rem;margin:.5rem auto 0;border-radius:.125rem;}
#downloadTipWx .modal-footer .btn{width:6.25rem;height:1.375rem;line-height:1.375rem;color:#f4436d;border-radius:0.6875rem;border: 0.03125rem solid #f4436d;}
#downloadTipWx .arrow{position:absolute;top:-1.625rem;right:-0.5625rem;width:1.15625rem;height:1.0625rem;}
#downloadTipWx .modal-close{position:absolute;bottom:-1.25rem;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);width:0.625rem;height:0.625rem;}

#errorModal{height:auto;padding:2rem .5rem;background:#fff;color:#333;}

.fs0{font-size:0;}
[data-dpr="1"] .fs12{font-size:12px;}
[data-dpr="1"] .fs14{font-size:14px;}
[data-dpr="1"] .fs15{font-size:15px;}
[data-dpr="1"] .fs17{font-size:17px;}
[data-dpr="1"] .fs18{font-size:18px;}
[data-dpr="1"] .fs36{font-size:36px;}
[data-dpr="1"] .fs40{font-size:40px;}

[data-dpr="2"] .fs12{font-size:24px;}
[data-dpr="2"] .fs14{font-size:28px;}
[data-dpr="2"] .fs15{font-size:30px;}
[data-dpr="2"] .fs17{font-size:34px;}
[data-dpr="2"] .fs18{font-size:36px;}
[data-dpr="2"] .fs36{font-size:72px;}
[data-dpr="2"] .fs40{font-size:80px;}

[data-dpr="3"] .fs12{font-size:36px;}
[data-dpr="3"] .fs14{font-size:42px;}
[data-dpr="3"] .fs15{font-size:45px;}
[data-dpr="3"] .fs17{font-size:51px;}
[data-dpr="3"] .fs18{font-size:54px;}
[data-dpr="3"] .fs36{font-size:108px;}
[data-dpr="3"] .fs40{font-size:120px;}