html{background-color:#fbca04;}
body,div,p,dl,dt,dd,span{box-sizing:border-box;margin:0;padding:0;}
img{width:100%;display:block;}
#container { width: 10rem; margin-right: auto; margin-left: auto; padding-bottom: 1rem; font-family: 'PingFangSC-Light'; text-align: center;color: #422610;}
.invited_banner{height:7.109375rem;}
#invited_success{width:7.96875rem;margin:0 auto;display: none;}
#invited_success h3, #invited_content h3 { height: 0.71875rem; margin-top:0.828125rem; line-height: 0.71875rem; }
#invited_success h3 span{display:inline-block;height:0.71875rem;width:0.6rem;background:url(https://img.alicdn.com/imgextra/i3/2296013456/TB2R1dNhYplpuFjSspiXXcdfFXa_!!2296013456.png) no-repeat center center;background-size:100% 100%;margin-right:0.171875rem;background-size:0.546875rem;}
#invited_success .hint{margin:0.46875rem 0 1.046875rem;line-height: 0.703125rem;color:#6c4222;}
.btn{width: 7.9375rem;height: 1.15625rem;line-height:1.15625rem;display: inline-block;color:#fff;border: 0.03125rem solid #422610;border-radius: 1.5625rem;background-color:#ff534f;}
#invited_success .reminder{height: 0.625rem;margin-top: 0.1875rem;}
.red_color{color:#ff534f;}
a:hover { text-decoration: none; }
#invited_content{display: none;}
#invited_content .hint{margin:1.375rem 0 0.890625rem;line-height:0.78125rem;}
#invited_content .reminder{height: 0.625rem;margin-top:0.125rem;line-height: 0.625rem;}
#backdrop {position: fixed;  z-index: 1000; top: 0; right: 0; bottom: 0; left: 0; display: none; opacity: 0.5; background-color: #000; }
.modal {width: 8.0rem; max-height: 100%; padding:0.875rem 0 ; position: fixed;  z-index: 1001; top: 50%; left: 50%; display: none; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); border-radius: 0.125rem; background-color: #fff; -webkit-overflow-scrolling: touch;}
.modal-close { z-index: 1002; position: absolute; top: .1rem; right: 0.3125rem; width: 1rem; height: 1rem; background: url(https://img.alicdn.com/imgextra/i4/2296013456/TB2aBoshR0kpuFjy1zdXXXuUVXa_!!2296013456.png_16x16.jpg) no-repeat center;background-size:0.390625rem 0.390625rem;}
.modal .hint{width:8.0rem; height:1.46875rem; line-height: 0.734375rem;  display: table-cell;vertical-align: middle;  color:#888; }
.modal .hint span{width: 100%;    display: inline-block;}
#tipModal{width:5.265625rem;height:1.0rem;margin-top: 0.34375rem;line-height:1.0rem;}
.modal h3{height:0.75rem;line-height: 0.75rem;color:#282828;}
.modal .face_number{height: 0.703125rem;line-height: 0.703125rem;}
#errorModal { height: auto; padding: 2rem .5rem; color: #333; background: #fff; }

#downloadTipWx {width: 8rem; height: auto; padding-bottom: 1.25rem;  top: 2.21875rem; font-family: 'PingFangSC-Light'; -webkit-transform: translateX(-50%); transform: translateX(-50%); color: #333; background: #fff; }
#downloadTipWx .modal-header {font-weight: normal;  line-height: 1.8; }
#downloadTipWx .modal-header .font_red{color:#f4436d;}
#downloadTipWx .modal-body { padding-top: 1rem; padding-bottom: .5rem; line-height: 1; color: #666; }
#downloadTipWx .modal-body .divide { width: 3.75rem; height: 0.03125rem; margin: 0 auto .3125rem;background-color:#ddd; }
#downloadTipWx .modal-body .icon { width: 2.1875rem; height: 2.1875rem; margin: .5rem auto 0; border-radius: .125rem; }
#downloadTipWx .modal-body .icon { width: 2.1875rem; height: 2.1875rem; margin: .5rem auto 0; border-radius: .125rem; }
#downloadTipWx .arrow {width: 1.15625rem; height: 1.0625rem;  position: absolute; top: -1.625rem; right: -0.5625rem; }
#downloadTipWx .modal-close-d {width: 0.625rem; height: 0.625rem;  position: absolute; bottom: -1.25rem; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
#downloadTipWx .modal-footer .btn-d {width: 6.25rem; height: 1.375rem; line-height: 1.375rem;  display:inline-block;color: #f4436d; border: 0.03125rem solid #f4436d; border-radius: 0.6875rem; }

[data-dpr="1"] .fontSize10{font-size:10px;}
[data-dpr="1"] .fontSize12{font-size:12px;}
[data-dpr="1"] .fontSize13{font-size:13px;}
[data-dpr="1"] .fontSize14{font-size:14px;}
[data-dpr="1"] .fontSize15{font-size:15px;}
[data-dpr="1"] .fontSize17{font-size:17px;}
[data-dpr="1"] .fontSize20{font-size:20px;}

[data-dpr="2"] .fontSize10{font-size:20px;}
[data-dpr="2"] .fontSize12{font-size:24px;}
[data-dpr="2"] .fontSize13{font-size:26px;}
[data-dpr="2"] .fontSize14{font-size:28px;}
[data-dpr="2"] .fontSize15{font-size:30px;}
[data-dpr="2"] .fontSize17{font-size:34px;}
[data-dpr="2"] .fontSize20{font-size:40px;}

[data-dpr="3"] .fontSize10{font-size:30px;}
[data-dpr="3"] .fontSize12{font-size:36px;}
[data-dpr="3"] .fontSize13{font-size:39px;}
[data-dpr="3"] .fontSize14{font-size:42px;}
[data-dpr="3"] .fontSize15{font-size:45px;}
[data-dpr="3"] .fontSize17{font-size:51px;}
[data-dpr="3"] .fontSize20{font-size:60px;}


.modal-over {text-align: center; z-index: 1001; display: block; position: fixed; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); width: 8.6rem; max-height: 100%; border-radius: 0.125rem; background-color: #fff; -webkit-overflow-scrolling: touch;padding:0.875rem 0 ; }
.modal-over h3{color:#282828;height:0.75rem;line-height: 0.75rem;}
