a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
img,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*-webkit-overflow-scrolling : touch;*/
body,
div,
li,
ol,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
button,
input {
  outline: none;
}
/*html,body{
  height: 100%;
}*/
*{
  -webkit-overflow-scrolling: touch;
}
body {
  position: relative;
  font-family: PingFangSC-Light;
  width: 100%;
  overflow-y: scroll;
}
.hide{
	display: none;
}
a{
	text-decoration: none!important;
}
#container {
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  font-family: 'PingFangSC-Light';
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 1.733rem;
}
.banner {
  background: url('https://img.alicdn.com/imgextra/i2/2296013456/TB2AW.1iYJmpuFjSZFwXXaE4VXa_!!2296013456.png') no-repeat #7543F6;
  background-size: 100% 100%;
  width: 10rem;
  height: 12.48rem;
  position: relative;
}
.show-live {
  position: absolute;
  bottom: 1.95rem;
  font-size: 0.64rem;
  width: 100%;
}
.show-live p {
  color: #422610;
  width: 100%;
  text-align: center;
}
.show-live p span {
  color: #FF534F;
}
.main {
  width: 100%;
  margin-top: -0.7rem;
  padding-bottom: 2.2rem;
  background-color: #7543F6;
  height: 14.226133rem;
}
.main ul {
  background: url(https://img.alicdn.com/imgextra/i1/2296013456/TB2ysxkjodnpuFjSZPhXXbChpXa_!!2296013456.png) no-repeat;
  background-size: 100%;
  position: relative;
  height: 12.026666rem;
}
.bg0 {
  background-image: url('https://img.alicdn.com/imgextra/i1/2296013456/TB2ysxkjodnpuFjSZPhXXbChpXa_!!2296013456.png')!important;
}
.bg1 {
  background-image: url('https://img.alicdn.com/imgextra/i4/2296013456/TB202RHhR0kpuFjy1zdXXXuUVXa_!!2296013456.png')!important;
}
.bg2 {
  background-image: url('https://img.alicdn.com/imgextra/i2/2296013456/TB2GLBwjm8mpuFjSZFMXXaxpVXa_!!2296013456.png')!important;
}
.bg3 {
  background-image: url('https://img.alicdn.com/imgextra/i4/2296013456/TB2RtpChNXkpuFjy0FiXXbUfFXa_!!2296013456.png')!important;
}
.bg4 {
  background-image: url('https://img.alicdn.com/imgextra/i3/2296013456/TB2HLxnjhxmpuFjSZFNXXXrRXXa_!!2296013456.png')!important;
}
.bg5 {
  background-image: url('https://img.alicdn.com/imgextra/i3/2296013456/TB2r3RrjipnpuFjSZFkXXc4ZpXa_!!2296013456.png')!important;
}
.coupon-main {
  position: absolute;
}
.coupon {
  margin-top: 1.3rem;
  background-color: #FF534F;
  width: 2rem;
  height: 2.933333rem;
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
}
.coupon .money {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
  text-align: center;
  overflow: hidden;
  border-bottom: 1px dashed #000;
}
.coupon .money span {
  font-size: 0.466666rem;
}
.coupon .rule-face {
  font-size: 0.586666rem;
  color: #422610;
  height: 2rem;
  line-height: 0.7rem;
  background-color: #FFD14F;
  overflow: hidden;
  border-bottom: 1px dashed #000;
}
.coupon .rule-face img{
  width: 100%;
  height: 100%;
}
.coupon .click {
  height: 0.9333333rem;
  line-height: 0.9333333rem;
  background-color: #fff;
  text-align: center;
}
.coupon .click span{
  position: relative;
  /*font-size: 0.266666rem;*/
  padding-right: 0.3rem;
}
.coupon .click span:before {
  content: "";
  position: absolute;
  background: url(https://img.alicdn.com/imgextra/i1/2296013456/TB2R97Ki7qvpuFjSZFhXXaOgXXa_!!2296013456.png) 0 0 no-repeat;
  background-size: 100%;
  top: 0.08rem;
	right: 0rem;
  display: block;
  width: 0.18rem;
  height: 0.9rem;
  z-index: 99;
}
.coupon .click i{
    /*background: url(../img/arr2.png) no-repeat;
    background-size: 100%;*/
    width: 0.4rem;
    height: 0.266666rem;
    display: inline-block;
    margin-left: 0.133333rem;
}
.coupon .click img{
	width: 0.4rem;
  height: 0.266666rem;
}
.coupon .collect {
  height: 0.9333333rem;
  background-color: #422610;
  color: #fff;
  width: 100%;
  line-height: 0.9333333rem;
  text-align: center;
  font-size: 0.266666rem;
}
.coupon .collect.condition {
  padding-top: 0.12rem;
  font-size: 0.2rem;
  line-height: 1.3;
}
.coupon-tips {
  width: 2.2rem;
  color: #FFE04F;
  font-size: 0.373333rem;
  line-height: 0.466666rem;
  height: 0.466666rem;
}
.coupon1 {
  left: 1.68rem;
}
.coupon2 {
  left: 4.68rem;
}
.coupon3 {
  left: 6.75rem;
  top: 4.94rem;
  z-index: 112;
}
.coupon4 {
  left: 3.75rem;
  top: 4.94rem;
  z-index: 111;
}
.coupon5 {
  left: 3.6rem;
  top: 8.3rem;
}
.coupon5 .coupon-tips {
  position: relative;
  left: -2.4rem;
  top: 3.45rem;
}
.coupon6 {
  left: 6.75rem;
  top: 8.8rem;
}
.rule-friends {
  padding: 0.266666rem 0.533333rem;
  background-color: #FFF4D6;
}

.rule{
    margin-bottom: 0.8rem;
}

.title {
  color: #422610;
  font-size: 0.533333rem;
  line-height: 1.04rem;
  height: 1.04rem;
  border-bottom: 1px dashed #422610;
}
.title i{
    /*background: url(../img/arr2.png) no-repeat;
    background-size: 100%;*/
    width: 0.4rem;
    height: 0.266666rem;
    display: inline-block;
    margin-left: 0.133333rem;
}
.title img{
	width: 0.4rem;
    height: 0.266666rem;
}
.title i img{
    width: 0.4rem;
    height: 0.266666rem;
    display: inline-block;
    transform: rotate(180deg);
  	-webkit-transform: rotate(180deg);
}
.title i.click img{
    width: 0.4rem;
    height: 0.266666rem;
    display: inline-block;
    transform: rotate(0deg);
  	-webkit-transform: rotate(0deg);
}
.rule-str {
  margin-top: 0.373rem;
  color: #422610;
  font-size: 0.391rem;
  line-height: 2;
  margin-bottom: .8rem;
}
.rule-str span{
  display: block;
  counter-increment: myCounter;
}
.rule-str span:before{
  content: counter(myCounter) '.';
  color: #422610;
  font-size: 0.391rem;
}

.friends li {
  position: relative;
  height: 2.06rem;
  line-height: 2.06rem;
  border-bottom: 1px solid #dbcdb1;
  padding-left: 2rem;
}

.friends li .icon-header{
  position: absolute;
  top: 0.4rem;
	left: 0;
	width: 1.2rem;
	height: 1.2rem;
  border-radius: 50%;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  overflow: hidden;
}
.friends li .icon-header img{
  width: 100%;
  vertical-align: middle;
}
.friends li span {
  color: #422610;
}
.friends li .name-str {
  font-size: 0.4667rem;
}
.friends li .time-str {
  position: absolute;
  right: 0;
  top: 0.05rem;
  font-size: 0.4rem;
}
footer{
  height: 1.733rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,.55);
  z-index: 999;
}
footer div{
  float: left;
  width: 50%;
  height: 1.733rem;
}
footer div span{
  display: block;
  position: relative;
  width: 3.7866rem;
  height: 1.08rem;
  line-height: 1.08rem;
  background-color: #ffdb3e;
  border: 2px solid #3c223a;
  border-radius: 0.6rem;
  margin: 0.3625rem auto;
  text-align: center;
  color: #422610;
  font-size: 0.4rem;
}
footer div span i {
  font-size: 0.38rem;
  color: #ff534f;
  font-weight: bolder;
}
.signed{
	background-color: #CDCDCD;
}
footer .king:before {
  content: '';
  position: absolute;
  right: -0.2rem;
  top: -0.5rem;
  width: 0.88rem;
  height: 0.786rem;
  background: url(https://img.alicdn.com/imgextra/i2/2296013456/TB2l7pOhMRkpuFjy1zeXXc.6FXa_!!2296013456.png) 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.red_color{color:#ff534f;}
.modal-sign .btn{width: 7.9375rem;height: 1.15625rem;line-height:1.15625rem;border: 0.03125rem solid #422610;border-radius: 1.5625rem;display: inline-block;background-color:#ff534f;color:#fff;}
.modal-sign {text-align: center; z-index: 1001; display: block; position: fixed; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); width: 8.6rem; max-height: 100%; border-radius: 0.125rem; background-color: #fff; -webkit-overflow-scrolling: touch;padding:0.875rem 0 ; }
.modal-sign .modal-close { 
	z-index: 1002;
    position: absolute;
    top: .1rem;
    right: 0.3125rem;
    width: 1rem;
    height: 1rem;
	background: url(https://img.alicdn.com/imgextra/i4/2296013456/TB2aBoshR0kpuFjy1zdXXXuUVXa_!!2296013456.png_16x16.jpg) no-repeat center; 
	/*background-size: 100% 100%;*/
}
.modal-sign .hint{ color:#888; line-height: 0.734375rem;  height:1.46875rem; vertical-align: middle; display: table-cell;width:8.6rem; }
.modal-sign .hint span{    display: inline-block;width: 100%;}
.modal-sign #tipModal{width:5.265625rem;height:1.0rem;line-height:1.0rem;margin-top: 0.34375rem;}
.modal-sign h3{color:#282828;height:0.75rem;line-height: 0.75rem;}
.modal-sign .face_number{height: 0.703125rem;line-height: 0.703125rem;}


.modal-down .btn{width: 7.9375rem;height: 1.15625rem;line-height:1.15625rem;border: 0.03125rem solid #422610;border-radius: 1.5625rem;display: inline-block;background-color:#ff534f;color:#fff;}
.modal-down {text-align: center; z-index: 1001; display: block; position: fixed; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); width: 8.6rem; max-height: 100%; border-radius: 0.125rem; background-color: #fff; -webkit-overflow-scrolling: touch;padding:0.875rem 0 ; }
/*.modal-down .modal-close { z-index: 1002; position: absolute; top: 0.296875rem; right: 0.3125rem; width: 0.375rem; height: 0.390625rem; background: url(https://img.alicdn.com/imgextra/i4/2296013456/TB2aBoshR0kpuFjy1zdXXXuUVXa_!!2296013456.png_16x16.jpg) no-repeat center; background-size: 100% 100%;}*/
.modal-down .modal-close { 
	z-index: 1002;
    position: absolute;
    top: .1rem;
    right: 0.3125rem;
    width: 1rem;
    height: 1rem;
	background: url(https://img.alicdn.com/imgextra/i4/2296013456/TB2aBoshR0kpuFjy1zdXXXuUVXa_!!2296013456.png_16x16.jpg) no-repeat center; 
	/*background-size: 100% 100%;*/
}

.modal-down .hint{ color:#888; line-height: 0.734375rem;  height:1.46875rem; vertical-align: middle; display: table-cell;width:8.6rem; }
.modal-down .hint span{    display: inline-block;width: 100%;}
.modal-down #tipModal{width:5.265625rem;height:1.0rem;line-height:1.0rem;margin-top: 0.34375rem;}
.modal-down h3{color:#282828;height:0.75rem;line-height: 0.75rem;}
.modal-down .face_number{height: 0.703125rem;line-height: 0.703125rem;}

.modal-over {text-align: center; z-index: 1001; display: block; position: fixed; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); width: 8.6rem; max-height: 100%; border-radius: 0.125rem; background-color: #fff; -webkit-overflow-scrolling: touch;padding:0.875rem 0 ; }
.modal-over h3{color:#282828;height:0.75rem;line-height: 0.75rem;}


[data-dpr="1"] .fontSize10{font-size:10px!important;}
[data-dpr="1"] .fontSize12{font-size:12px!important;}
[data-dpr="1"] .fontSize13{font-size:13px!important;}
[data-dpr="1"] .fontSize15{font-size:15px!important;}
[data-dpr="1"] .fontSize17{font-size:17px!important;}
[data-dpr="1"] .fontSize20{font-size:20px!important;}

[data-dpr="2"] .fontSize10{font-size:20px!important;}
[data-dpr="2"] .fontSize12{font-size:24px!important;}
[data-dpr="2"] .fontSize13{font-size:26px!important;}
[data-dpr="2"] .fontSize15{font-size:30px!important;}
[data-dpr="2"] .fontSize17{font-size:34px!important;}
[data-dpr="2"] .fontSize20{font-size:40px!important;}

[data-dpr="3"] .fontSize10{font-size:30px!important;}
[data-dpr="3"] .fontSize12{font-size:36px!important;}
[data-dpr="3"] .fontSize13{font-size:39px!important;}
[data-dpr="3"] .fontSize15{font-size:45px!important;}
[data-dpr="3"] .fontSize17{font-size:51px!important;}
[data-dpr="3"] .fontSize20{font-size:60px!important;}

.fs0{font-size:0;}


/*微信内*/
#downloadTipWx{top:2.21875rem;-webkit-transform:translateX(-50%);transform:translateX(-50%);width:8rem;height:auto;padding-bottom:1.25rem;background:#fff;color:#333;font-family:'PingFangSC-Light';}
#downloadTipWx .modal-header{line-height:1.8;font-weight:normal;}
#downloadTipWx .modal-body{padding-top:1rem;line-height:1;color:#666;}
#downloadTipWx .modal-body .divide{width:3.75rem;height:0.026666rem;margin:0 auto .3125rem;background-color: #ddd;}
#downloadTipWx .modal-body .icon{width:2.1875rem;height:2.1875rem;margin:.5rem auto 0;border-radius:.125rem;}
#downloadTipWx .modal-footer .btn{width:6.25rem;height:1.375rem;line-height:1.375rem;color:#f4436d;border-radius:0.6875rem;border: 0.03125rem solid #f4436d;}
#downloadTipWx .arrow{position:absolute;top:-1.625rem;right:-0.5625rem;width:1.15625rem;height:1.0625rem;}
#downloadTipWx .modal-close{position:absolute;bottom:-1.25rem;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);width:0.625rem;height:0.625rem;}

#errorModal{height:auto;padding:2rem .5rem;background:#fff;color:#333;}


/*---------------------模态框------------------------*/
.modal{z-index:1001;display:none;position:fixed;top:40%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:7.8125rem;height:4.90625rem;border-radius:.125rem;text-align:center;background:transparent url('https://img.alicdn.com/imgextra/i1/2296013456/TB2E.95fG8lpuFjy0FpXXaGrpXa_!!2296013456.png') no-repeat;background-size:contain;word-break:break-all;}
.modal-header{padding-top:1rem;line-height:1;font-weight:bold}
.modal-body{padding-top:0.3125rem;padding-bottom:.5rem;line-height:1.6;}
.modal-footer .btn{display:inline-block;width:2.8125rem;height:1.125rem;line-height:1.125rem;border-radius:.5625rem;color:#fff}
.modal-footer .btn-pink{background-color:#f84a57}
.modal-footer .btn-gray{background-color:#9a9a9b}
#tipModal .btn-pink{width:4.6875rem;}
#resultModal .btn-gray{margin-right:0.5625rem;}
#backdrop {z-index:1000;display:none;position: fixed;top: 0;right: 0;bottom: 0;left: 0;background-color: #000;opacity: 0.5;}

[v-cloak] {
  display: none;
}
