[data-dpr="1"] .fs9{font-size:9px;}
[data-dpr="1"] .fs11{font-size:11px;}
[data-dpr="1"] .fs12{font-size:12px;}
[data-dpr="1"] .fs13{font-size:13px;}
[data-dpr="1"] .fs14{font-size:14px;}
[data-dpr="1"] .fs15{font-size:15px;}
[data-dpr="1"] .fs16{font-size:16px;}
[data-dpr="1"] .fs17{font-size:17px;}
[data-dpr="1"] .fs23{font-size:23px;}

[data-dpr="2"] .fs9{font-size:18px;}
[data-dpr="2"] .fs11{font-size:22px;}
[data-dpr="2"] .fs12{font-size:24px;}
[data-dpr="2"] .fs13{font-size:26px;}
[data-dpr="2"] .fs14{font-size:28px;}
[data-dpr="2"] .fs15{font-size:30px;}
[data-dpr="2"] .fs16{font-size:32px;}
[data-dpr="2"] .fs17{font-size:34px;}
[data-dpr="2"] .fs23{font-size:46px;}

[data-dpr="3"] .fs9{font-size:27px;}
[data-dpr="3"] .fs11{font-size:33px;}
[data-dpr="3"] .fs12{font-size:36px;}
[data-dpr="3"] .fs13{font-size:39px;}
[data-dpr="3"] .fs14{font-size:42px;}
[data-dpr="3"] .fs15{font-size:45px;}
[data-dpr="3"] .fs16{font-size:48px;}
[data-dpr="3"] .fs17{font-size:51px;}
[data-dpr="3"] .fs23{font-size:69px;}
body{width:10rem; margin:0 auto!important; padding: 0;}
a{text-decoration:none!important;}
a:active{text-decoration:none; color: #fff;}
.w100{width: 100%;}	
.fs0{font-size: 0;}
.yqyj{width:10rem; margin: 0 auto;}
/*无邀请记录*/
.yqyj_rule{position: relative;width: 10rem;height: 9.64rem;}
.yqyj_rule_button{position:absolute; width: 2.32rem;height:0.42rem;bottom:1.28rem;right: 0.72rem;}
.yqyj_p1{text-align: center; margin-top: 1.09rem; color: #ffe933;}
.yqyj_p1 span{color:#fff;}
.yqyj_yqButton{width:5.625rem;margin:0.55rem auto 1.2rem; font-size: 0;}

/*有邀请记录*/
.yqyj_record_list{width:9.69rem;border-radius: 5px;background:#fff; margin:0 auto 0.625rem; padding-top: 0.47rem;}
.yqyj_record_list .title{color:#f11d58; text-align: center;}
.record_list_dd{height: 0.94rem; line-height: 0.94rem; padding: 0.16rem 0; overflow:hidden; color:#f53e7b;}
.yqyj_record_list .sort{width:0.625rem;text-align: right; color:#ccc; float: left;}
.yqyj_record_list .pic{float:left; width:0.9375rem; height: 0.9375rem; font-size: 0; margin:0 0.3rem 0 0.16rem;border-radius:50%;}
.yqyj_record_list .pic img{border-radius:50%; width:0.9375rem; height: 0.9375rem;}
.yqyj_record_list .userName{float:left;width: 2.5rem; color:#666; -o-text-overflow:ellipsis; display:block; text-overflow:ellipsis; overflow:hidden; white-space: nowrap;height: 0.94rem;}
.yqyj_record_list .text{float:left;width:4.69rem; margin-left: 0.16rem;height: 0.94rem; overflow: hidden;}
.record_list_dd .grey{color: #999;}

/*活动规则*/
.sj_hb_k{padding:0.453rem 0.438rem 0;}
.sj_hb_k p{line-height: 0.75rem;color: #666666;margin-bottom: 0.2rem;}
.sj_hb_wh{display:inline-block;width:0.375rem;height:0.375rem;vertical-align: middle;margin-left: 0.055rem;font-size: 0; text-indent: 0;margin-top: -0.1rem;}
.sj_hb_wh_p2{margin: 0.078rem 0;overflow: hidden;}
.sj_hb_wh_a{float:left;width:0.375rem;margin:0.03rem 0.2rem 0;}
.sj_hb_wh_p{color: #999999;float:left;line-height:0.5rem;width: 8.3rem;}
.sj_hb_footer{width:100%;text-align: center;line-height:0.625rem;padding: 0.75rem 0 1rem;}
.sj_hb_footer p{color: #999;line-height: 0.4rem;}

/*被邀请者领取页面*/
.lq_hb_k{margin-top:3.25rem; display:none;}
.lq_hb_text{text-align: center;border-radius: 5px;background-color:#ffffff;width:9.688rem;margin:0 auto 0;}
.lq_hb_text_content{padding:1.2rem 1.12rem 0.938rem;position: relative; text-align: center;}
.lq_hb{width:5.203rem;height:3.484rem;position:absolute;top:-2.5rem;left:2rem; }
.lq_hb_text_p1{line-height:0.55rem;margin-bottom:0.125rem;color: #fff; }
.lq_hb_text_p2{line-height: 0.594rem;color: #f53e7b; text-align: center; margin-top: 0.25rem;}
.lq_hb_text_bt_red,.lq_hb_text_bt_grey{line-height: 1.25rem;height:1.25rem; width: 100%; border-radius: 5px;margin-top:0.312rem ;}
.lq_hb_text_bt_red{background-color:#f53e7b; color:#fff; display: none;}
.lq_hb_text_bt_grey{background:#b22858;color: #b7899a;}
.lq_hb_p{line-height:1.47rem;height:1.47rem;text-align: center;color:#666;background: #fff;}
.rob { width: 10rem; height: auto; margin: 0 auto; overflow: hidden;position: relative; }
.rob_menu { position: absolute; top: 0; z-index: 999; background: #2d3845; }
.rob_ul { width: 10rem; height: 1.25rem; background: #2d3845; }
.rob_ul .light_li { background: #f53e7b; color: #fff; position: relative; }
.rob_ul li { width: 3.33rem; height: 1.25rem; line-height: 1.25rem; text-align: center; float: left; color: #a2a1a0; background: #2d3845; }
.goods_rob { width: 10rem; height: auto; overflow: hidden; padding-top: 0rem; }
.goods_list { width: 10rem; height: auto; background: #fff; overflow: hidden; border-bottom: 1px #e5e5e5 solid; }
.goods_list_img { float: left; display: block; width: 3.9rem; height: 3.9rem; margin: 0.2rem; }
.goods_list_right { float: left; width: 5.4rem; height: auto; position: relative; }
.right_title { color: #333; margin-top: 0.8rem; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 0.6rem; height: 1.2rem; }
.right_title span { color: #f53e7b; }
.right_price { color: #333; margin-top: 0.6rem; margin-left: 0.15rem; }
.right_reduction { float: left; color: #f53e7b; font-weight: 800; margin-top: 0.05rem; margin-left: 0.15rem; }
.right_reduction span { font-weight: normal; }
.now_rob { display: block; width: 1.7rem; height: 0.93rem; border-radius: 8px; background: #fee8ef; color: #f53e7b; line-height: 0.93rem; text-align: center; position: absolute; right: 0rem; bottom: 0.65rem; text-decoration: none; }
.item_prompt { position: absolute; right: 0.15rem; bottom: 0.15rem; color: #333; }
.lq_hb_text_inp1{width:7.1rem;border: 0 none; border-radius: 5px;text-align: left;margin-top: 0.312rem;padding: 0.3rem 0.312rem;color:#333;}
.lq_hb_text_inp_k{margin-top:0.312rem;overflow: hidden; display:block;}
.lq_hb_text_inp2{width:4.11rem ;padding: 0.3rem 0.312rem;border: 0 none;border-radius: 5px; text-align: left;float:left;color:#333;}
.yzm-button-red,.yzm-button-grey{width: 2.7rem;padding:0.235rem 0;float: left;margin-left:0.156rem;border-radius: 5px;text-align: center;}
.yzm-button-red{background:#6f1234;color: #f53e7b;border: 2px solid #f53e7b;}
.yzm-button-grey{background:#eee; color:#999;border: 2px solid #eee;}
.lq_hb_text_inp1_k{position: relative; margin-top: 0.55rem;}
.numberError{color: #fff; display: none; background-color: #4c4c4c;position: absolute;top:-0.3rem;padding: 0 0.156rem 0;height: 0.515rem;line-height: 0.515rem; left: 0;border-radius: 10px;}
.lq_hb_text_bt{color:#fff;line-height: 1.25rem;height:1.25rem;display: block;background-color:#f53e7b;border-radius: 5px;margin-top:0.578rem ;}

/*弹框*/
.yqyj_tankuang{width: 6.7rem; display: none; z-index: 1000;  margin:0 auto; position: fixed; border-radius: 7px; left: 50%; margin-left: -3.3rem; background:#fff; overflow: hidden; padding:0.31rem 0;}
.yqyj_tankuang .close{float: right;width:0.6875rem; height: 0.6875rem; display: block; margin-right:0.31rem;}
.yqyj_tankuang .content{width:; margin:0 0.78rem; color: #666;}
.yqyj_tankuang .tk_title{text-align: center; color:#333;}
.yqyj_tankuang .tk_text{line-height: 0.45rem; margin-top: 0.2rem;}
.yqyj_tankuang .tk_button{display: block;height: 1rem; line-height: 1rem; width:5.16rem; margin: 0.47rem auto 0; background:#e2517b; color:#fff; text-align: center; border-radius:7px;}
.tk_secondSucceed{width: 4.69rem;height: 2.19rem; line-height: 2.19rem; position: fixed; z-index: 1000; top: 50%; left: 50%; margin:-1.1rem 0 0 -2.345rem;}
.tk_secondSucceed .opacity{width:100%; height: 100%; background:#000; opacity: 0.5; float: left; border-radius: 5px;}
.tk_secondSucceed .op_text{width:100%; height: 100%; color:#fff; text-align:center; float: left; margin-top: -2.19rem; position:relative;}
.tk_opacity{width:100%;height:100%;background:#000;opacity:0.5;position:fixed;top:0;z-index:999;display:none}
.yqyj_tank_share{width:10rem;height: 4.84rem; z-index:1000;background:#fff; position:fixed;bottom: -4.84rem;left: 0; text-align: center; color:#999;}
.yqyj_tank_share .close{width:0.6875rem; height: 0.6875rem; margin: 0.31rem 0 0 0.31rem; float: left;}
.yqyj_tank_share .cont{margin: 0.6rem 1.56rem 0;}
.yqyj_tank_share .p1{color: #333;}
.yqyj_tank_share .p2{text-align: left; margin-top: 0.1rem;}
.yqyj_tank_share .dl{text-align: center; margin-top: 0.31rem;}
.yqyj_tank_share .dl dd{width:1.5625rem;display:inline-block; margin: 0 0.55rem;}

.mask{width:100%;height:100%;background-color:#000;opacity:0.8;filter:alpha(opacity=80);-moz-opacity:0.8;position: fixed;left: 0;top: 0;z-index:1000;}
.animationTipBox{height:auto;position:fixed;top:0%;z-index:1001;width:100%; left:0%;  top:20%; font-family:"微软雅黑";}
.money_log {width:8.5rem;height: auto;margin: 8% auto auto auto; background: #fff;border-radius: 10px;overflow: hidden;}
.h1_title{width:100%;text-align: center;color: #000;padding:0.6rem 0 0.3rem 0;}
.xy_hbgz{width:6.5rem;margin:0 0 0 1.1rem;color:#333;}
.button_two{width: 100%;height: auto;overflow: hidden;}
.button_href{width:3.0rem;display:block;padding:3% 0; background:#f53e7b;border-radius:8px;color:#fff; text-align:center; text-decoration:none;margin:0.7rem auto 0.7rem 0.85rem;float: left; }
.xiangxiang{background:#fff;color:#999999; border: 1px solid #ccc;}
.button_href:hover{text-decoration:none;}

.animation{animation:myAnimation 0.12s linear;}
@keyframes myAnimation{
	0% {bottom:-4.84rem;}
	100% {bottom:0;}
}
@-moz-keyframes myAnimation {
	0% {bottom:-4.84rem;}
	100% {bottom:0;}
}
@-webkit-keyframes myAnimation{
	0% {bottom:-4.84rem;}
	100% {bottom:0;}
}
@-o-keyframes myAnimation {
	0% {bottom:-4.84rem;}
	100% {bottom:0;}
}
.closeAnimation{animation:closeMyAnimation 0.12s linear;}
@keyframes closeMyAnimation{
	0% {bottom:0;}
	100% {bottom:-4.84rem;}
}
@-moz-keyframes closeMyAnimation {
	0% {bottom:0;}
	100% {bottom:-4.84rem;}
}
@-webkit-keyframes closeMyAnimation{
	0% {bottom:0;}
	100% {bottom:-4.84rem;}
}
@-o-keyframes closeMyAnimation {
	0% {bottom:0;}
	100% {bottom:-4.84rem;}
}