<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="PROJECT" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${ocean.loggingRoot}/ocean.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%t][%c{1}] - %m%n" />
		</layout>
	</appender>

	<!-- 淘宝API调用日志 -->
	<appender name="TOP" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${ocean.loggingRoot}/top.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm},%m, ocean %n" />
		</layout>
	</appender>
	
	<!-- 系统缓存访问情况，包括Redis访问和JVM本地缓存访问 -->
	<appender name="CacheAspect" class="com.taofen8.commons.log.log4j.extension.DailyRollingAndMergeFileAppender">
		<param name="file" value="${ocean.loggingRoot}/CacheAspect.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm},%m, ocean %n" />
		</layout>
	</appender>
	
	<!-- 数据库访问日志 -->
	<appender name="DATABASE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${ocean.loggingRoot}/database.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%c{10}] - %m%n" />
		</layout>
	</appender>	

	<appender name="OTHER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${ocean.loggingRoot}/other.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%t][%c{1}] - %m%n" />
		</layout>
	</appender>

	<appender name="mnwLog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${ocean.loggingRoot}/mnw_log.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss},%m%n" />
		</layout>
	</appender>

	<logger name="mnw_log" additivity="false">
		<level value="error" />
		<appender-ref ref="mnwLog" />
	</logger>

	<logger name="com.taofen8.aspect.TopApiLogAspect" additivity="false">
		<level value="debug" />
		<appender-ref ref="TOP" />
	</logger>
	
	<logger name="org.springframework.orm.ibatis" additivity="false">
		<level value="${ocean.loggingLevel}" />
		<appender-ref ref="DATABASE" />
	</logger>	

	<logger name="java.sql" additivity="false">
		<level value="${ocean.loggingLevel}" />
		<appender-ref ref="DATABASE" />
	</logger>	
			
	<logger name="com.taofen8" additivity="false">
		<level value="${ocean.loggingLevel}" />
        <appender-ref ref="PROJECT" />
    </logger>
	
	<logger name="cacheAspect" additivity="false">
        <level value="error" />
        <appender-ref ref="CacheAspect" />
    </logger>
	
	<root>
		<level value="ERROR" />
		<appender-ref ref="OTHER" />
	</root>
</log4j:configuration>
