<?xml version="1.0" encoding="UTF-8"?>
 
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>ocean.root</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:spring-*.xml,
			classpath*:/spring/*.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>WEB-INF/log4j.xml</param-value>
	</context-param>
	<context-param>
		<param-name>systemConfigLocation</param-name>
		<param-value>classpath:config-ocean.properties</param-value>
	</context-param>	
	<context-param>
		<param-name>systemConfigLocationOverride</param-name>
		<param-value>file:${user.home}/config/ocean-release.properties</param-value>
	</context-param>
	<context-param>
	    <param-name>log4jRefreshInterval</param-name>
	    <param-value>60000</param-value>
	</context-param>
	
	<listener>
		<listener-class>com.taofen8.listener.SystemConfigInitListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<!-- Spring容器管理的组件的加载 -->
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
     <filter-name>encodingFilter</filter-name>
     <url-pattern>*.do</url-pattern>
 	</filter-mapping>

	<!-- decode cookie to session Filter -->
	<filter>
		<filter-name>CookieSessionFilter</filter-name>
		<filter-class>com.taofen8.servlet.CookieSessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CookieSessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!--AppRequestURLFilter -->
	<filter>
		<filter-name>AppRequestURLFilter</filter-name>
		<filter-class>com.taofen8.web.filter.AppRequestURLFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AppRequestURLFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- browserCookieSignFilter -->
	<filter>
		<filter-name>browserCookieSignFilter</filter-name>
		<filter-class>com.taofen8.web.filter.BrowserCookieFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>browserCookieSignFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

 	<servlet>
	    <servlet-name>spring</servlet-name>
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jpg</url-pattern>
	</servlet-mapping>
		
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.png</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
	    <welcome-file>index.jsp</welcome-file>
	    <welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<error-page>
	<error-code>404</error-code>
	<location>/index.jsp</location>
	</error-page>

	<jsp-config>
	    <taglib>
	        <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
	        <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
	    </taglib>
	    <taglib>
	        <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
	        <taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
	    </taglib>
	</jsp-config>
	
</web-app>
